@page
@model WEB.Pages.Admin.Suppliers.IndexModel
@{
    ViewData["Title"] = "Поставщики";
}

<div class="bg-white p-2 shadow rounded-4">
    <h2 class="fw-semibold m-0">
        Поставщики
    </h2>
</div>

<div class="mt-2 bg-white p-3 shadow rounded-4">

    @if (Model.Suppliers == null || !Model.Suppliers.Any())
    {
        <div class="d-flex flex-column gap-2">
            <div class="text-muted text-center py-4">
                Поставщики отсутствуют
            </div>

            <a class="btn btn-outline-primary rounded-4 d-flex align-items-center justify-content-center align-self-center"
               href="/admin/suppliers/create">
                <i class="bi-plus-lg me-1"></i>
                Создать
            </a>
        </div>
    }
    else
    {
        <div class="row g-2">

            @foreach (var item in Model.Suppliers)
            {
                <div class="col-4">
                    <a class="border rounded-4 p-3 h-100 d-flex flex-column justify-content-center gap-2 text-decoration-none"
                       href="/admin/suppliers/@item.Id">

                        <div class="fw-semibold text-dark fs-4">
                            <i class="bi bi-truck"></i>
                            @item.Name
                        </div>

                        <div class="text-muted small text-dark">
                            ID: @item.Id
                        </div>

                    </a>
                </div>
            }

            <div class="col-4">
                <a class="btn btn-outline-primary rounded-4 p-3 h-100 d-flex flex-column justify-content-center"
                   href="/admin/suppliers/create">

                    <i class="bi-plus-lg fs-3"></i>
                    Новый поставщик

                </a>
            </div>

        </div>
    }

</div>