@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<h2 class="fw-semibold">Главная</h2>


<form method="get" class="d-flex gap-2">
    <input type="text"
            asp-for="Search"
            class="form-control rounded-4"
            placeholder="Поиск..." />

    <button class="btn btn-sm btn-primary rounded-4 btn-1x1">
        <i class="bi bi-search"></i>
    </button>
</form>

<div class="d-flex flex-column gap-1">
    @foreach (var user in Model.Users)
    {
        <div>@user.Login</div>
        <br />
    }
</div>