@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row g-2">

        <div class="col-2">
            <div class="bg-white p-2 px-3 rounded-4 shadow">
                <h3 class="fw-semibold m-0">Вкладки</h3>
                <hr class="my-1"/>
                <div class="d-flex flex-column gap-2">
                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/Admin/Products">
                        <i class="bi-bag me-2 fs-4"></i>
                        Товары
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/orders">
                        <i class="bi-box-seam me-2 fs-4"></i>
                        Заказы
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/users">
                        <i class="bi-people me-2 fs-4"></i>
                        Пользователи
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/statuses">
                        <i class="bi-card-checklist me-2 fs-4"></i>
                        Статусы
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/tags">
                        <i class="bi-tags me-2 fs-4"></i>
                        Теги
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/manufacturers">
                        <i class="bi-building me-2 fs-4"></i>
                        Производители
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/suppliers">
                        <i class="bi-truck me-2 fs-4"></i>
                        Поставщики
                    </a>

                    <a class="text-dark text-decoration-none fs-5 d-flex align-items-center"
                       href="/admin/categories">
                        <i class="bi-bookmarks me-2 fs-4"></i>
                        Категории
                    </a>
                </div>
            </div>
        </div>

        <div class="col-10">
            @RenderBody()
        </div>
    </div>
</div>